{{ ansible_managed | comment(decoration="; ") }}

{{ 'FPM Configuration' | comment(decoration="; ") }}

{{ 'Global Options' | comment(decoration="; ") }}

[global]
pid = {{ pid }}

error_log = {{ error_log }}

log_level = {{ log.level }}
{% if true_php_version is version('7.3', '>=') %}
log_limit = {{ log.limit }}
log_buffering = {{ log.buffering and 'yes' or 'no' }}
{% endif %}

syslog.facility = {{ syslog.facility }}
syslog.ident = {{ syslog.ident }}

daemonize = {{ daemonize and 'On' or 'Off' }}

events.mechanism = {{ events.mechanism }}

{{ 'Pool Definitions' | comment(decoration="; ") }}

include={{ php_conf_files_path }}*.conf