{{ ansible_managed | comment(decoration="; ") }}

{{ 'FPM Configuration' | comment(decoration="; ") }}

{{ 'Global Options' | comment(decoration="; ") }}

[global]
pid = {{ pid }}

error_log = {{ error_log }}

log_level = {{ log.level }}
{% if true_php_version is version('7.3', '>=') %}
log_limit = {{ log.limit }}
log_buffering = {{ log.buffering and 'yes' or 'no' }}
{% endif %}

syslog.facility = {{ syslog.facility }}
syslog.ident = {{ syslog.ident }}

{% if emergency.restart_threshold != 0 %}
emergency_restart_threshold = {{ emergency.restart_threshold }}
{% endif %}
{% if emergency.restart_interval != 0 %}
emergency_restart_interval = {{ emergency.restart_interval }}
{% endif %}

{% if process_control_timeout != 0 %}
emergency_restart_interval = {{ process_control_timeout }}
{% endif %}
process.max = {{ process.max }}
{% if process.priority is defined %}
process.priority = {{ process.priority }}
{% endif %}

daemonize = {{ daemonize and 'yes' or 'no' }}

{% if events.mechanism is defined %}
events.mechanism = {{ events.mechanism }}
{% endif %}

rlimit_files = {{ true_rlimit_files }}
rlimit_core = {{ rlimit.core }}

{{ 'Pool Definitions' | comment(decoration="; ") }}

include={{ php_conf_files_path }}*.conf